# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
src/lib/components/ui
utilities/
svelte.config.js
tailwind.config.ts
samples
src/codings
.eslintrc.cjs
.vscode
drizzle/meta
postcss.config.js